.u-section-1 .u-sheet-1 {min-height: 22px}.u-section-2 {background-image: url("images/IMG_9366.jfif"); background-position: 50% 38.53%}
.u-section-2 .u-sheet-1 {min-height: 326px}
.u-section-2 .u-text-1 {font-size: 4.5rem; margin: 22px 52px 60px auto} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 269px}
.u-section-2 .u-text-1 {margin-right: 43px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 206px}
.u-section-2 .u-text-1 {margin-right: 33px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 155px}
.u-section-2 .u-text-1 {margin-right: 25px; font-size: 3.75rem} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 103px}
.u-section-2 .u-text-1 {width: auto; font-size: 1.875rem; margin-top: 0; margin-right: 34px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/pexels-photo-325185.jpeg")}
.u-section-3 .u-sheet-1 {min-height: 927px}
.u-section-3 .u-text-1 {text-shadow: -2px 2px 8px rgba(51,49,41,1); background-image: none; font-weight: bold; font-size: 2.25rem; margin: 47px auto 0}
.u-section-3 .u-image-1 {width: 570px; height: 788px; margin: 0 245px 53px auto} 

@media (max-width: 1199px){ .u-section-3 .u-image-1 {margin-right: 153px} }

@media (max-width: 991px){ .u-section-3 .u-image-1 {margin-right: 53px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 838px}
.u-section-3 .u-text-1 {font-size: 1.5rem; margin-top: 40px; margin-left: 0; margin-right: 0}
.u-section-3 .u-image-1 {width: 511px; height: 706px; margin-top: 10px; margin-right: 0; margin-bottom: 56px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 530px}
.u-section-3 .u-text-1 {font-size: 1rem}
.u-section-3 .u-image-1 {height: 427px; width: 312px} }.u-section-4 {background-image: linear-gradient(#f5d654, #f1b5b8)}
.u-section-4 .u-sheet-1 {min-height: 601px}
.u-section-4 .u-shape-1 {width: 237px; height: 228px; margin: -50px auto 0 447px}
.u-section-4 .u-text-1 {text-shadow: -2px 2px 8px rgba(77,77,77,1); font-size: 2.25rem; font-weight: 700; background-image: none; width: 358px; margin: -140px 391px 0}
.u-section-4 .u-line-1 {width: 129px; height: 3px; transform-origin: right center 0; margin: -1px auto 0 506px}
.u-section-4 .u-list-1 {min-height: 457px; grid-template-columns: calc(25% - 16px) calc(25% - 16px) calc(25% - 16px) calc(25% - 16px); grid-gap: 21px 21px; width: 1098px; height: auto; margin: 23px auto 43px}
.u-section-4 .u-list-item-1 {box-shadow: 0 0 14px 0 rgba(0,0,0,0.35)}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-2 {font-weight: 700; letter-spacing: 1px; text-transform: uppercase; font-size: 1.5rem; width: 156px; margin: 19px auto 0}
.u-section-4 .u-text-3 {font-style: italic; letter-spacing: 2px; font-size: 1rem; margin: 16px 0 0}
.u-section-4 .u-list-item-2 {box-shadow: 0 0 14px 0 rgba(0,0,0,0.35)}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-4 {font-weight: 700; letter-spacing: 1px; text-transform: uppercase; font-size: 1.5rem; width: 156px; margin: 19px auto 0}
.u-section-4 .u-text-5 {font-style: italic; letter-spacing: 2px; font-size: 1rem; margin: 16px 0 0}
.u-section-4 .u-list-item-3 {box-shadow: 0 0 14px 0 rgba(0,0,0,0.35)}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-text-6 {font-weight: 700; letter-spacing: 1px; text-transform: uppercase; font-size: 1.5rem; width: 156px; margin: 19px auto 0}
.u-section-4 .u-text-7 {font-style: italic; letter-spacing: 2px; font-size: 1rem; margin: 16px 0 0}
.u-section-4 .u-list-item-4 {box-shadow: 0 0 14px 0 rgba(0,0,0,0.35)}
.u-section-4 .u-container-layout-4 {padding: 30px}
.u-section-4 .u-text-8 {font-weight: 700; letter-spacing: 1px; text-transform: uppercase; font-size: 1.5rem; width: 156px; margin: 19px auto 0}
.u-section-4 .u-text-9 {font-style: italic; letter-spacing: 2px; font-size: 1rem; margin: 16px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 763px}
.u-section-4 .u-shape-1 {width: 244px; margin-top: -63px; margin-right: 345px; margin-left: auto}
.u-section-4 .u-text-1 {width: auto; margin-right: 283px; margin-left: 299px}
.u-section-4 .u-line-1 {margin-top: 6px; margin-right: 398px; margin-left: auto}
.u-section-4 .u-list-1 {min-height: 565px; grid-template-columns: calc(((100% - 940px) / 2)  + 465px) calc(((100% - 940px) / 2)  + 465px); grid-gap: 9px 9px; width: 731px; margin-top: 25px; margin-right: 101px; margin-bottom: 60px}
.u-section-4 .u-list-item-1 {background-size: auto}
.u-section-4 .u-text-2 {width: 188px}
.u-section-4 .u-text-3 {margin-right: auto}
.u-section-4 .u-list-item-2 {background-size: auto}
.u-section-4 .u-text-4 {width: 188px}
.u-section-4 .u-text-5 {margin-right: auto}
.u-section-4 .u-list-item-3 {background-size: auto}
.u-section-4 .u-text-6 {width: 188px}
.u-section-4 .u-text-7 {margin-right: auto}
.u-section-4 .u-list-item-4 {background-size: auto}
.u-section-4 .u-text-8 {width: 188px}
.u-section-4 .u-text-9 {margin-right: auto} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 721px}
.u-section-4 .u-shape-1 {width: 255px; margin-right: auto; margin-left: 227px}
.u-section-4 .u-text-1 {width: 250px; margin-left: 235px; margin-right: 235px}
.u-section-4 .u-line-1 {margin-right: auto}
.u-section-4 .u-list-1 {min-height: 399px; grid-template-columns: calc(((100% - 720px) / 2) + 349px) calc(((100% - 720px) / 2) + 349px); width: 720px; margin-right: 0} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 790px}
.u-section-4 .u-shape-1 {width: 233px; height: 208px; margin-top: -43px; margin-left: auto}
.u-section-4 .u-text-1 {margin-left: 145px; margin-right: 145px}
.u-section-4 .u-list-1 {grid-template-columns: calc(((100% - 540px) / 2) + 259px) calc(((100% - 540px) / 2) + 259px); width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-3 {font-size: 0.875rem}
.u-section-4 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-5 {font-size: 0.875rem}
.u-section-4 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-7 {font-size: 0.875rem}
.u-section-4 .u-container-layout-4 {padding-left: 20px; padding-right: 20px}
.u-section-4 .u-text-9 {font-size: 0.875rem} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1054px}
.u-section-4 .u-shape-1 {width: 169px; height: 160px; margin-top: -42px; margin-left: 81px}
.u-section-4 .u-text-1 {font-size: 1.5rem; margin-top: -96px; margin-left: auto; margin-right: auto}
.u-section-4 .u-line-1 {width: 85px; transform-origin: left center 0; margin-top: 7px}
.u-section-4 .u-list-1 {grid-template-columns: 100%; grid-gap: 7px 7px; width: 340px; margin-top: 34px; margin-right: auto}
.u-section-4 .u-text-2 {font-size: 1.25rem; width: 183px}
.u-section-4 .u-text-4 {font-size: 1.25rem; width: 183px}
.u-section-4 .u-text-6 {font-size: 1.25rem; width: 183px}
.u-section-4 .u-text-8 {font-size: 1.25rem; width: 183px} }.u-section-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/pexels-photo-325185.jpeg")}
.u-section-5 .u-sheet-1 {min-height: 683px}
.u-section-5 .u-group-1 {min-height: 372px; width: 316px; margin: 101px 101px 0 auto}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-layout-wrap-1 {width: 902px; margin: -356px auto 43px 119px}
.u-section-5 .u-image-1 {min-height: 523px; background-image: url("images/NURULSHEEMABINTIABDRAHMANJ44.jpg"); background-position: 100% 0%}
.u-section-5 .u-container-layout-2 {padding: 30px 0 0 30px}
.u-section-5 .u-layout-cell-2 {min-height: 523px; background-image: none}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-text-1 {line-height: 1.4; font-size: 3rem; font-weight: 300; margin: 25px 0 0}
.u-section-5 .u-text-2 {font-size: 1rem; line-height: 2; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 {background-position: 50% 50%}
.u-section-5 .u-sheet-1 {min-height: 690px}
.u-section-5 .u-group-1 {margin-top: 104px; margin-right: 7px}
.u-section-5 .u-layout-wrap-1 {margin-top: -359px; margin-left: 19px}
.u-section-5 .u-image-1 {min-height: 533px}
.u-section-5 .u-layout-cell-2 {min-height: 533px}
.u-section-5 .u-text-1 {font-size: 2.25rem} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 650px}
.u-section-5 .u-group-1 {width: 340px; margin-top: 98px; margin-right: 8px}
.u-section-5 .u-layout-wrap-1 {width: 674px; margin-top: -353px; margin-bottom: 60px; margin-left: 23px}
.u-section-5 .u-image-1 {min-height: 458px}
.u-section-5 .u-layout-cell-2 {min-height: 458px}
.u-section-5 .u-container-layout-3 {padding-bottom: 1px}
.u-section-5 .u-text-1 {font-size: 1.875rem} }

@media (max-width: 767px){ .u-section-5 {min-height: 568px}
.u-section-5 .u-sheet-1 {min-height: 488px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-wrap-1 {width: 540px; margin-left: 0}
.u-section-5 .u-image-1 {min-height: 477px}
.u-section-5 .u-container-layout-2 {padding-left: 10px}
.u-section-5 .u-layout-cell-2 {min-height: 409px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {font-size: 3rem} }

@media (max-width: 575px){ .u-section-5 {min-height: 229px}
.u-section-5 .u-sheet-1 {min-height: 307px}
.u-section-5 .u-group-1 {min-height: 825px; width: 333px; margin-right: 0}
.u-section-5 .u-layout-wrap-1 {width: 340px; margin-top: -806px}
.u-section-5 .u-image-1 {min-height: 360px}
.u-section-5 .u-layout-cell-2 {min-height: 430px}
.u-section-5 .u-text-1 {font-size: 1.875rem} }